@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;600;700&family=Bellefair&family=Inter:wght@400;500;700&family=Karla:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap');
:root {
  --darkNavy: #495567 ;
  --yellow: #FCB72B ;
  --lightYellow: #fff4df ;
  --dimGray: #939CAA ;
  --lightGray: #E5ecf4;
  --snow: #f2f5f9;
}
*{
  margin: 0;
  box-sizing: border-box;
  
}

/*  Global */
.btn {
  width: 180px;
  height: 50px;
  background-color: var(--yellow);
  border: none;
  color: #fff;
  font-family: "space mono";
  font-size: 16px;
  margin-top: 34px;
  cursor: pointer;
}
.btn:hover {
  background-color: #fff;
  border: 1px solid var(--yellow);
  color: var(--yellow);
}
a {
text-decoration: none;
}


/* Phone media */
@media  screen and (max-width: 768px ) {
  /*  Navbar */
  .cont-navbar {
    height: 65px;
    padding-top: 12px;
    text-align: center;
  }
  .cont-navbar img {
    width: 20px;
    height: 16px;
    float: left;
    margin-top: 15px;
    margin-left: 32px;
  }
  .navbar-text {
    color: var(--darkNavy);
    font-size: 30px;
    display: inline;
    margin-left: -32px;
    font-family: "Space Mono";
    font-weight: 700;
  }
  .nav {
    position: absolute;
    background-color: var(--darkNavy);
    width: 256px;
    height: 97vh;
    top: 65px;
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .nav-fordesktop{
    display: none;
  }
  .nav button {
    margin-left: 30px;
  }
  .navbar {
   list-style: none;
  }
  .navbar-elem {
    color: #fff;
    font-size: 20px;
    font-family: "space mono";
    padding-top: 14px;
  }
  
  /* Header Home */ 
  .cont-header {
    background: url(./assets/images/Home/header-bg.png);
    height: 650px;
    background-size:cover;
    text-align: center;
    background-repeat: no-repeat;
  }
  .cont-header-title{
    color: #fff;
    padding-top: 115px ;
    font-family: "space Mono";
  }
  .cont-header-text {
    color: #fff;
    padding: 24px 32px 0px 32px;
    font-family: "space mono";
  }
  /* Section one Home*/
  .cont-section1 {
    text-align: center;
    padding: 100px 0px;
  }
  .cont-section1-elm {
    padding-top: 45px ;
  }
  .section-title {
    padding: 24px 0px;
    color: var(--darkNavy);
    font-family: "space mono";
  }
  .section-text {
    font-family: "space mono";
    padding: 0 28px;
    color: var(--dimGray);
  }
  /* Section two  Home*/
  .cont-section2 {
    text-align: center;
    padding: 100px 0;
  }
  .cont-section2-elm {
    padding-bottom: 100px;
  }
  .cont-section2 h2 {
    padding: 24px 54px;
  }
  /* Footer */
  .cont-footer {
    text-align: center;
    font-family: "space mono";
  }
  .cont-footer-1{
    background-color: #495567;
    display: flex;
    flex-direction: column;
    padding: 80px 32px;
  }
  .footer-elm {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
  }
  .footer-title {
    color: #fff;
  }
  .cont-footer-2 {
    background-color: #333A44;
    padding: 80px 32px;
  }
  .navbar-text-footer {
    color: #fff;
    font-size: 36px;
  }
  .nav-footer-elm {
    padding: 0;
    list-style: none;
    padding: 50px 0px;
  }
  .footer-social img {
    padding: 0 20px;
  }
  .section-home-arrow {
    display: none;
  }
  /* About page */
  .cont-about-header {
    background: url(./assets/images/About/header-about.jpg);
    height: 160px;
    text-align: center;
  }
  .section2-title {
    text-align: center;
  }
  .cont-about-title , .cont-location-title , .cont-careers-title {
    color: #fff;
    font-family: "space mono";
    padding-top: 50px;
  }
  /* About , Section1 */
  .cont-section1-about {
    text-align: center;
    margin: 72px 0px;
  }
  .cont-section1-about-elm , .cont-section1-about-elm2 {
    padding-bottom: 100px;
    font-family: "space mono";
  }
  .cont-section1-about-title {
    padding: 20px 20px;
    color: var(--darkNavy);
  }
  .cont-section1-about-text {
    padding: 10px 34px;
    color: var(--dimGray);
  }
 
/* About , Section2 */
  .cont-section2-about{
    text-align: center;
    font-family: "space mono";
  }
  .section2-title {
    color: var(--darkNavy);
    font-size: 30px;
    padding-bottom: 50px;
  }
  .cont-section2-about-text {
    padding: 30px 34px;
    color: var(--dimGray);
  }
  .section2-careers-box {
  text-align: center;
  }
  /* About , Section Faq */
  .cont-section-faq {
    text-align: center;
    font-family: "space mono";
    margin: 80px 0px;
  }
  .section-faq-title {
    padding-top: 10px;
    color: var(--darkNavy);
    font-size: 50px;
  }
  .section-faq-elm-title {
    color: var(--darkNavy);
    padding: 30px 0px;
  }
  .section-faq-elm-question {
    background-color: var(--lightGray);
    margin: 20px 30px;
  }
  .section-faq-elm-question-elment-title {
    color: var(--darkNavy);
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 24px 0px;
  }
  .section-faq-elm-question-elment-title img {
    width: 16px;
    height: 16px;
  }
  .section-faq-elm-question-elment-text {
    color: #495567;
    padding: 24px;
    text-align: left;
  }
  /* Careers page */
  .cont-careers {
    text-align: center;
    font-family: "space mono";
  }
  .cont-careers-section1 {
    margin-top: 80px;
    margin-bottom: 100px;
  }
  .cont-careers-header {
    background: url(./assets/images/Careers/header-bg.jpg);
    height: 160px;
    text-align: center;
  }
  .cont-section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "space mono";
    margin-bottom: 50px;
  }
  .cont-section3-elm {
    width: 300px;
    height: 190px;
    background: var(--lightGray);
    margin: 20px;
    box-sizing: border-box;
  }
  .cont-section3-elm-title {
    color: var(--darkNavy);
    font-weight: 700;
    padding-top: 20px;
    font-size: 20px;
  }
  .cont-section3-elm-text {
    color: var(--darkNavy);
  }

  /* Location page */
  .cont-location-header {
    background: url(./assets/images/Locations/header-bg.png);
    height: 160px;
    text-align: center;
  }
  .cont-location-section1 {
    text-align: center;
    margin-top: 70px;
    font-family: "space mono";
  }
  .cont-location-section1 img {
    margin: 20px 0px;
  }
  .btn-location {
    background-color: var(--lightYellow);
    width: 310px;
    height: 70px;
    color: var(--darkNavy);
    margin: 16px 0px;
    border: none;
    cursor: pointer;
  }
  .btn-location-text {
    font-size: 24px;
  }
  .cont-location-elm2-title , .cont-careers-elm-title {
    color: var(--darkNavy);
    margin: 40px ;
  }
  .cont-location-elm2-text , .cont-careers-elm-text {
    color: var(--dimGray);
    margin: 24px;
  }
  .btn-location-msg {
    width: 180px;
    height: 50px;
    background-color: var(--yellow);
    border: none;
    color: #fff;
    font-family: "space mono";
    font-size: 16px;
    margin-top: 34px;
    cursor: pointer;
    margin-bottom: 50px;
  }
}
@media (min-width: 768px)  {
  /* Navbar Tablet */
  .cont-navbar img {
    display: none;
  }
  .nav {
    display: none;
  }
  .nav-fordesktop {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
  }
  .navbar {
    display: flex;
    gap: 50px;
    justify-items: center;
    align-items: center;
    font-family: "space mono";
  }
  .navbar-text {
    display: none;
  }
  .navbar-text-desktop {
    font-size: 50px;
    color: #333A44;
    display: inline;
    margin-bottom: 80px;
    font-weight: 700;
    
  }
  .navbar {
    list-style: none;
  }
  .navbar-elem {
    color: var(--dimGray);
  }
  .navbar button {
    margin: 0;
  }
  .cont-home{
    font-family: "space mono";
  }
  /* Header Home */
  .cont-header{
    background: url(./assets/images/Home/header-bg-tablet.jpg);
    height: 650px;
    background-size: cover;
    text-align: center;
  }
  .cont-header-title {
    color: #fff;
    padding-top: 130px;
    font-size: 50px;
  }
  .cont-header-text {
    color: #fff;
    padding: 20px 80px;
  }
  /* Section1 Home */
  .cont-section1 {
    margin-top: 120px;
  } 
  .cont-section1-elm{
    display:flex;
    justify-content: space-around;
    gap: 100px;
  }
  .cont-section1-elm img {
    margin-left: 50px;
    margin-top: 30px;
    width: 96px;
    height: 96px;
  }
  .section-home-arrow {
    display: none;
  }
  .cont-section1-elm-text {
    margin-right: 50px;
  }
  .section2-title {
    text-align: center;
  }
  .section-title {
    color: var(--darkNavy);
    margin: 20px 0px;
    float: left;
  }
  .section-text {
    float: left;
    color: var(--dimGray);
  }
  /* Section2 Home*/
  .cont-section2 {
    margin-top: 140px;
    text-align: center;
  }
  .cont-section2-elm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cont-section2-elm img {
    width: 445px;
    margin-top: 100px;
  }
  .section-title {
    font-size: 40px;
    padding: 20px 70px;
  }
  .cont-section2-elm button {
    margin-top: 50px;
  }
  .section-text {
    padding: 10px 70px;
  }
  .section-faq-elm-question-elment img {
    cursor: pointer;
  }
  /* Footer */
  .cont-footer {
    margin-top: 100px;
    background-color: #495567;
  
  }
  .cont-footer-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-title {
    color: #fff;
    margin-top: 60px;
    font-size: 40px;
    padding: 10px 160px;
  }
  .footer-elm {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .footer-elm-img {
    margin: 0px 20px;
    width: 150px;
  }
  .footer-elm-img2 {
    width: 172px;
  }
  .cont-footer-2 {
    background: #333A44;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .nav-footer-elm {
    list-style: none;
    display: flex;
    gap: 50px;
  }
  .navbar-text-footer {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
  }
  .footer-social img {
    margin: 0px 10px;
  }
  /*  Page About */
  .cont-about {
    font-family: "space mono";
  }
  .cont-about-header {
    background: url(/src/assets/images/About/header-about-tablet.png);
    height: 200px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cont-about-title , .cont-location-title {
    color: #fff;
    font-size: 50px;
    padding-top: 60px;
  }
  .cont-section1-about {
   text-align: center;
   margin-top: 140px;
  }
  .cont-section1-about-elm , .cont-section1-about-elm2{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-bottom: 100px;
  }
  .cont-section1-about-elm img {
    width: 445px;
  }
  .cont-section1-about-title {
    font-size: 50px;
    color: var(--darkNavy);
    font-weight: 700;
    padding: 0px 70px;
  }
  .cont-section1-about-text {
    color: var(--dimGray);
    padding: 0px 100px;
  }
  .cont-section2-about {
    text-align: center;
  }
 .cont-section1-about-elm2 img {
  width: 445px;
  
}
.cont-section2-about-box {
  text-align: center;
}
  .section2-title {
    font-size: 50px;
    font-weight: 700;
    color: var(--darkNavy);
    margin: 50px;
  }
  .cont-section2-about-text {
    color: var(--dimGray);
    padding: 50px 100px;
  }
  .section2-careers-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section2-careers-box img {
    padding-left: 100px;
  }
  .cont-section2-about-text {
    width: 600px;
  }
  /* Section Faq */
  .cont-section-faq {
    text-align: center;
    font-family: "space mono";
    margin: 80px 0px;
  }
  .section-faq-title {
    padding-top: 10px;
    color: var(--darkNavy);
    font-size: 50px;
  }
  .section-faq-elm-title {
    color: var(--darkNavy);
    padding: 30px 0px;
  }
  .section-faq-elm-question {
    background-color: var(--lightGray);
    margin: 20px 30px;
  }
  .section-faq-elm-question-elment-title {
    color: var(--darkNavy);
    font-size: 26px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 24px 0px;
  }
  .section-faq-elm-question-elment-title img {
    width: 18px;
    height: 18px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .section-faq-elm-question-elment-text {
    color: #495567;
    padding: 24px;
    text-align: left;
  }
  /* Location Page */
  .cont-location {
    text-align: center;
    font-family: "space mono";
  }
  .cont-location-header {
    background: url(/src/assets/images/Locations/header-bg-tablet.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cont-location-section1 {
    text-align: center;
    margin-top: 70px;
  }
  .cont-location-elm1 img {
    display: block;
    margin: auto;
    width: 600px;
    margin-bottom: 20px;

  }
  .btn-location {
    background-color: var(--lightYellow);
    width: 310px;
    height: 70px;
    color: var(--darkNavy);
    margin: 20px 10px;
    border: none;
    cursor: pointer;
  }
  .btn-location-text {
    font-size: 24px;
  }
  .cont-location-elm2-title , .cont-careers-elm-title {
    color: var(--darkNavy);
    margin: 40px ;
    font-size: 40px;
  }
  .cont-location-elm2-text , .cont-careers-elm-text {
    color: var(--dimGray);
    margin: 24px;
  }
  .btn-location-msg {
    width: 180px;
    height: 50px;
    background-color: var(--yellow);
    border: none;
    color: #fff;
    font-family: "space mono";
    font-size: 16px;
    margin-top: 34px;
    cursor: pointer;
    margin-bottom: 50px;
  }
  .cont-section2-about-elm img {
    padding: 0;
  }
  /* Careers Page */
  .cont-careers {
    font-family: "space mono";
  }
  .cont-careers-header {
    background: url(/src/assets/images/Careers/header-bg-tablet.png);
    height: 200px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cont-careers-title {
    color: #fff;
    font-size: 50px;
    padding-top: 60px;
  }
  .cont-careers-section1 {
   text-align: center;
   margin-top: 140px;
  }
  .cont-section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "space mono";
    margin-bottom: 50px;
  }
  .cont-section3-elm {
    width: 680px;
    height: 130px;
    background: var(--lightGray);
    margin: 20px;
    display: flex;
    justify-content: space-between  ;
    padding: 0px 50px ;
  }
  .cont-section3-elm-title {
    color: var(--darkNavy);
    font-weight: 700;
    padding-top: 20px;
  }
  .cont-section3-elm-text {
    color: var(--darkNavy);
  }
  
}
@media (min-width: 1368px) {
  .btn {
    font-size: 22px;
    width: 250px;
    height: 60px;
  }
  .navbar {
    gap: 100px;
  }
  .navbar-elem:hover {
    color: var(--yellow);
  }
  .navbar-elem {
    font-size: 24px;
  }
  .cont-header {
    background: url(./assets/images/Home/header-desktop.jpg);
  }
  .cont-header-text {
    width: 600px;
    padding-top: 50px;
    margin: auto;
  }
  .cont-section1 {
    display: flex;
    text-align: center;
    justify-content: center;
    
  }
  .cont-section1-elm {
    flex-direction: column;
    gap: 0px;
    margin: auto;
    justify-content: center;
    width: 500px;
  }
  .cont-header-text{
    font-size: 20px;
  }
  .section-text {
    padding: 10px 40px;
  }
  .cont-section2-elm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
  }
  .cont-section2-elm-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .cont-section2-elm img {
    width: 445px;
    margin-left: 50px;
    
  }
  .section-text {
    width: 500px;
    font-size: 20px;
  }
  .cont-footer-1 {
    flex-direction: row;
    height: 200px;
    justify-content: space-between;
    margin: 0px 300px;
    align-items: center;
    margin-top: 300px;
  }
  .footer-title {
    margin: 0;
  }
  .footer-elm-img {
    width: 200px;
    margin-top: 40px;
    cursor: pointer;
  }
  .footer-elm-img2 {
    width: 230px;
  }
  .footer-social img {
    cursor: pointer;
  }
  .cont-about-header {
    background: url(./assets/images/About/header-desktop.png);
  }
  .section-home-arrow {
    display: block;
  }
  .cont-section1-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cont-section1-about-elm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 300px;
  }
  .cont-section1-about-text {
    width: 600px;
    margin-top: 100px;
    font-size: 24px;
  }
  .cont-section1-about-box {
    text-align:  left;
    margin-left: 100px;
  }
  .cont-section2-about-text {
   font-size: 20px;
  }
  .cont-section2-about-box {
    text-align: center;
    margin-top: 100px;
  }
  .cont-section2-about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 100px ;
  }
  .cont-section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cont-section2-elm {
   text-align: center;
   gap: 50px;
  }
  .cont-section2-about-text{
    width: 500px;
  }
  .section-faq-elm-question-elment {
  width: 500px;
  margin: 30px;
  text-align: center;  
  }
  .section-faq-elm-question {
    width: 600px;
    display:inline-block;
  }
  .section-faq-elm {
    height: 450px;
    margin: 300px 0px;
    display: flex;
    justify-content: center;
    gap: 200px;

  }
  .section-faq-box {
    display: flex;
    flex-direction: column;
  }
  .cont-section1-about-elm2 {
    flex-direction: row-reverse;
  }
  .cont-section1-about-elm2 img {
    width: 445px;
  }
  .section-faq-elm-title {
    font-size: 50px;
  }
  .section-faq-elm-question {
    width: 1000px;
  }
  .section-faq-elm-question-elment-title {
    width: 900px;
  }
  .section-faq-elm-question:hover {
    background-color: var(--lightYellow);
  }
  .section-faq-elm-question-elment-text {
    width: 900px;
    font-size: 18px;
  }
  .cont-location-header {
    background: url(/src/assets/images/Locations/header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cont-location-elm1 img {
    width: 1000px;
  }
  .section-faq-elm-question-elment img {
    width: 25px;
    height: 25px;
  }
  .cont-location-elm1 {
    margin: 100px 0px;
  }
  .cont-location-elm1 button {
    margin-top: 100px;
  }
  .btn-location:hover {
    background-color: lightgoldenrodyellow;
  }
  .btn-location-msg {
    font-size: 22px;
    width: 250px;
    height: 60px;
  }
  .btn-location-msg:hover {
    color: var(--yellow);
    background-color: #fff;
    border: 1px solid var(--yellow);
  }
  .cont-location-elm2-text {
    font-size: 22px;
    width: 500px;
  }
  .cont-location-elm2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cont-careers-header {
    background: url(/src/assets/images/Careers/header-desktop.png);
    background-size: cover;
  }
  .cont-careers-section1 {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
  }
  .cont-careers-section1 img {
    width: 445px;
  }
  .cont-careers-elm-text {
    width: 500px;
  }
  .cont-careers-sectio1-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cont-careers-elm-text {
    font-size: 20px;
  }
  .cont-section2-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .section2-careers-box  {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
  }
  .cont-section3-elm {
    width: 1200px;
  }
  .cont-section3-elm-box {
    padding-top: 20px;
  }
  .cont-section3 {
    margin-top: 100px;
  }
} 