@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;600;700&family=Bellefair&family=Inter:wght@400;500;700&family=Karla:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
}
/* Phone media */
@media  screen and (max-width: 767px ) {
  .cont-navbar {
    height: 65px;
    padding-top: 22px;
    text-align: center;
  }
  .cont-navbar img {
    width: 20px;
    height: 16px;
    float: left;
    margin-top: 15px;
    margin-left: 32px;
  }
  .navbar-text {
    color: #495567;
    font-size: 30px;
    display: inline;
    margin-left: -32px;
    font-family: "Space Mono";
    font-weight: 700;
  }
}
