@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;600;700&family=Bellefair&family=Inter:wght@400;500;700&family=Karla:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap');
:root {
  --darkNavy: #495567 ;
  --yellow: #FCB72B ;
  --lightYellow: #fff4df ;
  --dimGray: #939CAA ;
  --lightGray: #E5ecf4;
  --snow: #f2f5f9;
}
*{
  margin: 0;
  box-sizing: border-box;
  
}

/*  Global */
.btn {
  width: 180px;
  height: 50px;
  background-color: var(--yellow);
  border: none;
  color: #fff;
  font-family: "space mono";
  font-size: 16px;
  margin-top: 34px;
  cursor: pointer;
}
.btn:hover {
  background-color: #fff;
  border: 1px solid var(--yellow);
}
a {
text-decoration: none;
}

/* Phone media */
@media  screen and (max-width: 767px ) {
  /*  Navbar */
  .cont-navbar {
    height: 65px;
    padding-top: 12px;
    text-align: center;
  }
  .cont-navbar img {
    width: 20px;
    height: 16px;
    float: left;
    margin-top: 15px;
    margin-left: 32px;
  }
  .navbar-text {
    color: var(--darkNavy);
    font-size: 30px;
    display: inline;
    margin-left: -32px;
    font-family: "Space Mono";
    font-weight: 700;
  }
  .nav {
    position: absolute;
    background-color: var(--darkNavy);
    width: 256px;
    height: 97vh;
    top: 65px;
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .nav button {
    margin-left: 30px;
  }
  .navbar {
   list-style: none;
  }
  .navbar-elem {
    color: #fff;
    font-size: 20px;
    font-family: "space mono";
    padding-top: 14px;
  }
  
  /* Header Home */ 
  .cont-header {
    background: url(./assets/images/Home/header-bg.png);
    height: 650px;
    background-size:cover;
    text-align: center;
    background-repeat: no-repeat;
  }
  .cont-header-title{
    color: #fff;
    padding-top: 115px ;
    font-family: "space Mono";
  }
  .cont-header-text {
    color: #fff;
    padding: 24px 32px 0px 32px;
    font-family: "space mono";
  }
  /* Section one Home*/
  .cont-section1 {
    text-align: center;
    padding: 100px 0px;
  }
  .cont-section1-elm {
    padding-top: 45px ;
  }
  .section-title {
    padding: 24px 0px;
    color: var(--darkNavy);
    font-family: "space mono";
  }
  .section-text {
    font-family: "space mono";
    padding: 0 28px;
    color: var(--dimGray);
  }
  /* Section two  Home*/
  .cont-section2 {
    text-align: center;
    padding: 100px 0;
  }
  .cont-section2-elm {
    padding-bottom: 100px;
  }
  .cont-section2 h2 {
    padding: 24px 54px;
  }
  /* Footer */
  .cont-footer {
    text-align: center;
    font-family: "space mono";
  }
  .cont-footer-1{
    background-color: #495567;
    display: flex;
    flex-direction: column;
    padding: 80px 32px;
  }
  .footer-elm {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
  }
  .footer-title {
    color: #fff;
  }
  .cont-footer-2 {
    background-color: #333A44;
    padding: 80px 32px;
  }
  .navbar-text-footer {
    color: #fff;
    font-size: 36px;
  }
  .nav-footer-elm {
    padding: 0;
    list-style: none;
    padding: 50px 0px;
  }
  .footer-social img {
    padding: 0 20px;
  }
  /* About page */
  .cont-about-header {
    background: url(./assets/images/About/header-about.jpg);
    height: 160px;
    text-align: center;
  }
  .cont-about-title {
    color: #fff;
    font-family: "space mono";
    padding-top: 50px;
  }
  /* About , Section1 */
  .cont-section1-about {
    text-align: center;
    margin: 72px 0px;
  }
  .cont-section1-about-elm {
    padding-bottom: 100px;
    font-family: "space mono";
  }
  .cont-section1-about-title {
    padding: 20px 20px;
    color: var(--darkNavy);
  }
  .cont-section1-about-text {
    padding: 10px 34px;
    color: var(--dimGray);
  }
/* About , Section2 */
  .cont-section2-about{
    text-align: center;
    font-family: "space mono";
  }
  .section2-title {
    color: var(--darkNavy);
    font-size: 30px;
    padding-bottom: 50px;
  }
  .cont-section2-about-text {
    padding: 30px 34px;
    color: var(--dimGray);
  }
  /* About , Section Faq */
  .cont-section-faq {
    text-align: center;
    font-family: "space mono";
    margin: 80px 0px;
  }
  .section-faq-title {
    padding-top: 10px;
    color: var(--darkNavy);
    font-size: 50px;
  }
  .section-faq-elm-title {
    color: var(--darkNavy);
    padding: 30px 0px;
  }
  .section-faq-elm-question {
    background-color: var(--lightGray);
    margin: 20px 30px;
  }
  .section-faq-elm-question-elment-title {
    color: var(--darkNavy);
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 24px 0px;
  }
  .section-faq-elm-question-elment-title img {
    width: 16px;
    height: 16px;
  }
  .section-faq-elm-question-elment-text {
    color: #495567;
    padding: 24px;
    text-align: left;
  }
}
